/* Fondo general */
.root {
    -fx-background-color: #0d0d0d;
    -fx-font-family: "Impact", "Arial Black", sans-serif;
}


.titulo {
    -fx-text-fill: #ffffff; /* Letra blanca para que se lea */
    -fx-font-size: 32px;
    /* Sombra magenta s칩lida detr치s */
    -fx-effect: dropshadow(gaussian, #ff00ff, 10, 0.6, 0, 0); 
    -fx-padding: 10px;
}

.estado-label {
    -fx-text-fill: #ffffff; /* Letra blanca */
    -fx-font-size: 20px;
    /* Sombra cyan detr치s */
    -fx-effect: dropshadow(gaussian, #00ffff, 8, 0.6, 0, 0);
    -fx-padding: 10px;
}

/* --- BOTONES (Estilo Cyberpunk) --- */

.button {
    -fx-background-color: rgba(0, 0, 0, 0.5); /* Un poco de fondo negro para leer mejor */
    -fx-text-fill: #00ffff; /* Texto Cyan */
    -fx-border-color: #ff00ff; /* Borde Magenta */
    -fx-border-width: 2px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-padding: 10px 20px;
    
    /* Ajuste de tama침o */
    -fx-max-width: Infinity;
    -fx-min-width: 150px;
    -fx-alignment: CENTER;
}

.button:hover {
    -fx-background-color: rgba(255, 0, 255, 0.2);
    -fx-text-fill: #ffffff; 
    -fx-effect: dropshadow(three-pass-box, #ff00ff, 10, 0.3, 0, 0);
}

.button:pressed {
    -fx-background-color: #ff00ff;
    -fx-text-fill: #000000;
}